{% if user.canAccess("/form") and latestSubmissions|length > 0 %}
<div class="col-sm-6 block">
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">Latest Form Submissions</h3>
        </div>

        <div class="box-body no-padding">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Email</th>
                    <th width="1">Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for submission in latestSubmissions %}
                <tr>
                    <td>{{ submission.Contact.email }}</td>
                    <td>
                        {% if user.canAccess("/form/submission") %}
                        <a class="btn btn-default btn-sm" href="{{ adminUri }}/form/submission/{{ submission.id }}">View</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}