<section .class="(error) control-group error ? control-group">
    <label if="label" class="label">{@label}</label>

        <div if="imageId" class="image_form_container">
            <p><img src="/media/render/{@imageId}/200/auto"></p>
            <label for="remove_{@name}"><input type="checkbox" value="1" name="remove_{@name}" id="remove_{@name}"> Remove current image</label>
        </div>

    <label class="input">
        <input id="{@id}" type="{@type}" name="{@name}" value="{@value}">
    </label>


    <em if="error" for="{@name}" class="invalid">{@error}</em>
</section>

