<div .class="(error) form-group error ? form-group">
    <label if="label" for="{@id}">{@label}</label>

    <div class="controls">
        <input if="pattern" id="{@id}" type="{@type}" class="form-control {@css}"
               name="{@name}" value="{@value}" pattern="{@pattern}" .required="required">

        <input if="pattern == ''" id="{@id}" type="{@type}" class="form-control {@css}"
               name="{@name}" value="{@value}" .required="required">

        <span if="error" class="help-block">{@error}</span>
    </div>
</div>