<section .class="(error) form-group error ? form-group">
<label if="label" class="">{@label}</label>

<input if="pattern == ''" id="{@id}" type="{@type}" class="form-control {@css}" name="{@name}" value="{@value}" .required="required" .disabled="enabled == false">
<input if="pattern" id="{@id}" type="{@type}" class="form-control {@css}" name="{@name}" value="{@value}" pattern="{@pattern}" .required="required" .disabled="enabled == false">

<em if="error" for="{@name}" class="invalid">{@error}</em>
</section>